/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    background: linear-gradient(#1c1c1c,#323232);
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}
ul li {
    position: relative;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.9) url(watch5.png);
    background-position: center;
    background-blend-mode: darken;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 80px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navigation li {
    margin: 0 10px;
    
    background-color: white;
}

/* Content styles */
.main {
    
    padding-top: 100px;
}
.main::before{
  content: "RADO";
  position: absolute;
  color: rgba(255, 255, 255, 0.05);
  font-size: 42vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
.content {
    padding: 50px;
    background-color: rgb(34, 32, 32);
    text-align: center;
}
.content p{
    color: white;
}
h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 span {
    color: #d6324a;
}

.watch {
    position: relative;
    top: 50%;
    width: 100%;
    max-width: 500px;
    margin: 90px 0;
    left: 10%;
}

.btn {
    display: block;
    width: 200px;
    padding: 15px;
    background-color: #d6324a;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease;
}
mark {
    background-color: rgb(34, 32, 32);
    color: white;
    border-radius: 30px;
  }
h1{
    text-align: center;
}
.btn:hover {
    background-color: #b1253a;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
        
    }
    
    .logo {
        width: 50px;
    }

    .navigation {
        width: 60%;
        
    }
    
    .content {
        padding: 30px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    .watch {
        margin: 30px 0;
    }
    
    .btn {
        width: 150px;
        padding: 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .navigation {
        display: none;
    }
    
    .content {
        padding: 20px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .watch {
        margin: 20px 0;
    }
    
    .btn {
        width: 120px;
        padding: 5px;
        font-size: 12px;
    }
}
